@font-face{
    font-family: 'Source Sans Pro Black';
    src: url('/assets/Font/SourceSansPro-Black.otf');
}
.tl{
    position: relative;
    top: -200px;
    width: 789px;
}
.ht{
    position: absolute;
    left: 407px;
    top: 50px !important;
}
.tl h1{
    font-family: 'Source Sans Pro Black',sans-serif;
    -webkit-text-stroke: 5px #003782;
    color: white;
    text-transform: uppercase;
    position: fixed;
}
.regis-user{
    position: absolute;
    left: 776px;
    top: 252px;
    margin-right: 82px;
}
mat-label{
    color: #003782;
    font-size: 1.4em;
}
.btn{
    padding: 0px;
    position: fixed;
    font-size: 1.5rem;
    top: 532px;
    left: 1006px;
}
.btn-rtn{
    position: absolute;
    bottom: 68px;
    left: 702px;
}