<section>

    <app-navbar></app-navbar>


    <body>
        <div class="container pt-4">
            <div class="row">
                <div class="jumbotron jumbotron-fluid col pt-4">
                    <div class="container">
                      <h1 class="display-4 text-center">Contactanos</h1>
                      <h3 class="text-center">Telefono</h3>
                      <p class="lead text-center">(505) 2522-0530</p>
                      <h3 class="text-center">Ubicación</h3>
                      <p class="lead text-center">De la cuatro esquina de Monimbó 500mtr al sur, Masaya</p>
                    </div>
                </div>
                <div class="jumbotron jumbotron-fluid col ">
                    <div class="container">
                      <h1 class="display-4 text-center">Ubicación</h1>
                      <p class="lead">
                        <agm-map [latitude]="lat" [longitude]="lng">
                            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                        </agm-map>
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <app-foot></app-foot>
</section>